BODY.глава {
	PADDING-LEFT: 5mm; FONT-SIZE: 80%; PADDING-BOTTOM: 5mm; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e8e8e6
}
TD {
	FONT-SIZE: 80%; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e8e8e6
}
para {
	FONT-SIZE: 80%; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e8e8e6
}
TD.brdr {
	BACKGROUND-COLOR: gray
}
A:link {
	COLOR: darkblue
}
A:visited {
	COLOR: gray
}
A:hover {
	COLOR: darkblue; TEXT-DECORATION: underline
}
A.переход:link {
	COLOR: blue; BACKGROUND-COLOR: #c0c0c0
}
A.переход:visited {
	COLOR: #e8e8e6; BACKGROUND-COLOR: gray
}
A.переход:hover {
	COLOR: white; BACKGROUND-COLOR: gray; TEXT-DECORATION: underline
}
A.указатель:link {
	COLOR: darkblue
}
A.указатель:visited {
	COLOR: gray
}
A.указатель:hover {
	COLOR: darkblue; TEXT-DECORATION: underline
}
DIV.вопросы {
	PADDING-LEFT: 5mm; BORDER-LEFT: red double
}
SPAN.пример {
	FONT-STYLE: italic
}
DIV.эпиграф {
	PADDING-LEFT: 45%; TEXT-ALIGN: left
}
DIV.листинг {
	PADDING-RIGHT: 10mm; PADDING-LEFT: 10mm; FONT-WEIGHT: 500; FONT-SIZE: 130%; BACKGROUND-IMAGE: url(listing.gif); BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Courier New
}
DIV.стихи {
	PADDING-LEFT: 5%; FONT-SIZE: 105%; LINE-HEIGHT: 10%; FONT-STYLE: italic; FONT-FAMILY: Times
}
DIV.подзаголовок {
	PADDING-RIGHT: 20mm; PADDING-LEFT: 20mm; FONT-WEIGHT: bold; FONT-SIZE: 120%; FONT-STYLE: oblique
}
SPAN.выделение {
	FONT-WEIGHT: bold; COLOR: #0015af
}
SPAN.пример SPAN.выделение {
	FONT-WEIGHT: normal; COLOR: #0000aa
}
SPAN.опред-е {
	FONT-WEIGHT: bold
}
SPAN.подпись {
	PADDING-RIGHT: 20mm; PADDING-LEFT: 20mm; PADDING-BOTTOM: 20mm; PADDING-TOP: 20mm
}
DIV.эпиграф SPAN.подпись {
	TEXT-ALIGN: right
}
SPAN.пометка {
	FONT-STYLE: italic
}
SPAN.ударение {
	FONT-WEIGHT: bold; COLOR: #e01449
}
H1 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 1pt
}
H2 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 1pt
}
H3 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 1pt
}
H4 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 1pt
}
H5 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 1pt
}
DIV.заголовок {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; WIDTH: 100%; COLOR: white; BACKGROUND-COLOR: gray
}
DIV.заголовок1 {
	FONT-SIZE: medium; FLOAT: left; BACKGROUND-COLOR: #e01449
}
DIV.заголовок2 {
	FONT-SIZE: medium; FLOAT: left; BACKGROUND-COLOR: #f04571
}
DIV.заголовок3 {
	FONT-SIZE: 120%; FLOAT: left; BACKGROUND-COLOR: #fb7396
}
DIV.заголовок4 {
	FONT-SIZE: 120%; FLOAT: left; BACKGROUND-COLOR: #fb7396
}
DIV.заголовок5 {
	FONT-SIZE: 120%; FLOAT: left; BACKGROUND-COLOR: #fb7396
}
DIV.заголовок1нур {
	PADDING-RIGHT: 7px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #e01449
}
DIV.заголовок2нур {
	PADDING-RIGHT: 7px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f04571
}
DIV.заголовок3нур {
	PADDING-RIGHT: 7px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #fb7396
}
DIV.заголовок4нур {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #fb7396
}
DIV.заголовок5нур {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #fb7396
}
DIV.заголовок1текст {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 1ex; PADDING-TOP: 3px; BACKGROUND-COLOR: gray
}
DIV.заголовок2текст {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 1ex; PADDING-TOP: 3px; BACKGROUND-COLOR: gray
}
DIV.заголовок3текст {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 1ex; PADDING-TOP: 3px; BACKGROUND-COLOR: gray
}
DIV.заголовок4текст {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 1ex; PADDING-TOP: 3px; BACKGROUND-COLOR: gray
}
DIV.заголовок5текст {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 1ex; PADDING-TOP: 3px; BACKGROUND-COLOR: gray
}
TABLE.заголовок1 {
	WIDTH: 100%; COLOR: white
}
TABLE.заголовок2 {
	WIDTH: 100%; COLOR: white
}
TABLE.заголовок3 {
	WIDTH: 100%; COLOR: white
}
TABLE.заголовок4 {
	WIDTH: 100%; COLOR: white
}
TABLE.заголовок5 {
	WIDTH: 100%; COLOR: white
}
TD.заголовок1 {
	PADDING-LEFT: 3mm; BACKGROUND-COLOR: gray
}
TD.заголовок2 {
	PADDING-LEFT: 3mm; BACKGROUND-COLOR: gray
}
TD.заголовок3 {
	PADDING-LEFT: 3mm; BACKGROUND-COLOR: gray
}
TD.заголовок4 {
	PADDING-LEFT: 3mm; BACKGROUND-COLOR: gray
}
TD.заголовок5 {
	PADDING-LEFT: 3mm; BACKGROUND-COLOR: gray
}
TD.заголовок-нур1 {
	PADDING-RIGHT: 5mm; BACKGROUND-IMAGE: url(lvl1.bmp); WIDTH: 1%
}
TD.заголовок-нур2 {
	PADDING-RIGHT: 5mm; BACKGROUND-IMAGE: url(lvl2.bmp); WIDTH: 1%
}
TD.заголовок-нур3 {
	PADDING-RIGHT: 5mm; BACKGROUND-IMAGE: url(lvl3.bmp); WIDTH: 1%
}
TD.заголовок-нур4 {
	PADDING-RIGHT: 5mm; BACKGROUND-IMAGE: url(lvl4.bmp); WIDTH: 1%
}
TD.заголовок-нур5 {
	PADDING-RIGHT: 5mm; BACKGROUND-IMAGE: url(lvl5.bmp); WIDTH: 1%
}
