*{
	box-sizing: border-box;
	text-align: center;
	border: solid black 1px;
	margin: 0 20% 0 20%;
	padding: 10px;

}

in{
	border: none;
}

info {
	border: none;
	display: flex;
	flex-direction: column;
}