/*Для тегов*/
body{
    background: #e6b89b;
}

h1, h2, h3, span
{
    font-family: Times New Roman, sans-serif;
    color: deeppink;
}

/*Для текста*/
#span1{
    color: darkorange;
    font-style: italic;
    font-weight: bold;
}

#span2{
    color: darkkhaki;
    font-style: oblique;
    font-weight: 900;
    background: orange;
}

#span3{
    color: #99c61e;
    font-style: italic;
    font-weight: lighter;
}
#span4{
    color: #d9d905;
    font-style: oblique;
    background: green;
}








































