BODY {
	BACKGROUND-COLOR: #e8e8e6
}
A:link {
	FONT-SIZE: 10pt; COLOR: black; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10pt; COLOR: gray; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Arial, Verdana, sans-serif; TEXT-DECORATION: underline
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: white; FONT-FAMILY: Arial, Verdana, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, Verdana, sans-serif
}
