<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Integrated security=SSPI;database=LR8" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
