*{
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;	
	table-layout: auto;
	margin-left: 2px;
}

td {
	border: solid 1px #000000;
	padding: 5px;
	text-align: center;
	border-right: none;
	border-bottom: none;
}

td:last-child {
	border-right: solid 1px #000000;
}

tr:last-child td {
	border-bottom: solid 1px #000000;	
}

h1 {
	margin: 10px;
}

tr:first-child{
	font-weight: bold;
	font-style: italic;
}