html, body {
	height:100%;
}

body {
	background-color:#A2B5CD;
	margin:0;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
}

header {
	background-color:#000;
}
embed{
	height: 70vh; 
	width: 90vw; 
	display: block;
}
section {

	background-color:#FFF;
	margin:15px;
	border:double;
	
}
canvas { 
  height: 80vh; 
  width: 96vw; 
  display: block;
}
article {
	margin:10px;
	overflow:auto;	
	text-align:justify;
	height: 80vh; 
	width: 92vw; 
	display: block;
}

h3, h4, h5, figure, figcaption { 
	text-align:center;
}

p {
	text-indent:18px;	
}

.formula {
	width:100%;	
}

.formula tr {
	text-align:center;	
}

.number {
	width:3em;
	text-align:right;
	vertical-align:central;
}

p.formula, p.info {
	text-indent:0;
}

p.formula {
	text-align:center;
}


#hdiv1 {
	background-color:#570E17; 
	height:5px;
}

#hdiv2 {
	width:125px;
	text-align:center;
}

#text1, #text2 {
	color:#FFF;
}

#text1 {
	font-size:24px;
}