table {
	border-spacing: 0;
	border-top: 1px solid black;
	border-left: solid 1px black;
}

td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	width: 50px;
	height: 50px;

}

tr:first-child td{
	height: 10px;
	background: #82C782;
}

tr:last-child td{
	height: 10px;
	background: #82C782;
}

td:first-child{
	background: #82C782;
	width: 10px;
}

td:last-child{
	background: #82C782;
	width: 10px;
}

tr:nth-child(2) td:nth-child(3) {
	background: black;
}
tr:nth-child(2) td:nth-child(5) {
	background: black;
}
tr:nth-child(2) td:nth-child(7) {
	background: black;
}
tr:nth-child(2) td:nth-child(9) {
	background: black;
}

tr:nth-child(3) td:nth-child(2) {
	background: black;
}
tr:nth-child(3) td:nth-child(4) {
	background: black;
}
tr:nth-child(3) td:nth-child(6) {
	background: black;
}
tr:nth-child(3) td:nth-child(8) {
	background: black;
}

tr:nth-child(4) td:nth-child(3) {
	background: black;
}
tr:nth-child(4) td:nth-child(5) {
	background: black;
}
tr:nth-child(4) td:nth-child(7) {
	background: black;
}
tr:nth-child(4) td:nth-child(9) {
	background: black;
}

tr:nth-child(5) td:nth-child(2) {
	background: black;
}
tr:nth-child(5) td:nth-child(4) {
	background: black;
}
tr:nth-child(5) td:nth-child(6) {
	background: black;
}
tr:nth-child(5) td:nth-child(8) {
	background: black;
}

tr:nth-child(6) td:nth-child(3) {
	background: black;
}
tr:nth-child(6) td:nth-child(5) {
	background: black;
}
tr:nth-child(6) td:nth-child(7) {
	background: black;
}
tr:nth-child(6) td:nth-child(9) {
	background: black;
}

tr:nth-child(7) td:nth-child(2) {
	background: black;
}
tr:nth-child(7) td:nth-child(4) {
	background: black;
}
tr:nth-child(7) td:nth-child(6) {
	background: black;
}
tr:nth-child(7) td:nth-child(8) {
	background: black;
}

tr:nth-child(8) td:nth-child(3) {
	background: black;
}
tr:nth-child(8) td:nth-child(5) {
	background: black;
}
tr:nth-child(8) td:nth-child(7) {
	background: black;
}
tr:nth-child(8) td:nth-child(9) {
	background: black;
}

tr:nth-child(9) td:nth-child(2) {
	background: black;
}
tr:nth-child(9) td:nth-child(4) {
	background: black;
}
tr:nth-child(9) td:nth-child(6) {
	background: black;
}
tr:nth-child(9) td:nth-child(8) {
	background: black;
}