BODY {
	PADDING-RIGHT: 1pt; PADDING-LEFT: 1pt; FONT-SIZE: 8pt; PADDING-BOTTOM: 1pt; MARGIN: 0px; COLOR: white; PADDING-TOP: 1pt; FONT-FAMILY: Verdana,Arial; BACKGROUND-COLOR: gray
}
TABLE {
	BORDER-RIGHT: white 0px; BORDER-TOP: white 0px; FONT-SIZE: 100%; BORDER-LEFT: white 0px; WIDTH: 100%; BORDER-BOTTOM: white 0px; BACKGROUND-COLOR: gray
}
A:link {
	COLOR: white; TEXT-DECORATION: none
}
A:visited {
	COLOR: silver; TEXT-DECORATION: none
}
A:hover {
	COLOR: white; TEXT-DECORATION: underline
}
TD.up {
	HEIGHT: 1px; BACKGROUND-COLOR: black
}
TD.dn {
	HEIGHT: 1px; BACKGROUND-COLOR: silver
}
.btm {
	VERTICAL-ALIGN: bottom
}
DIV.3d {
	BORDER-TOP: black; FLOAT: left; BORDER-BOTTOM: silver
}
